<div class ='bev'>
 <h2>Ingrediants</h2>
 <table id="bev" >

	<tr></tr>	
		<th>Ingrediant</th>
		<th>Measurement</th>
	</tr>
	
		<%@result["drinks"].each do |key|%>
	<tr>
		<td><%=key["strIngredient1"]%></td>
		<td><%=key["strMeasure1"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient2"]%></td>
		<td><%=key["strMeasure2"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient3"]%></td>
		<td><%=key["strMeasure3"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient4"]%></td>
		<td><%=key["strMeasure4"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient5"]%></td>
		<td><%=key["strMeasure5"]%></td>

	</tr>
	<tr>
		<td><%=key["strIngredient6"]%></td>
		<td><%=key["strMeasure6"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient7"]%></td>
		<td><%=key["strMeasure7"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient8"]%></td>
		<td><%=key["strMeasure8"]%></td>
	</tr>
	<tr>
		<td><%=key["strIngredient9"]%></td>
		<td><%=key["strMeasure9"]%></td>
	</tr>
		
	<%end%>
</table>

<h2>Instructions</h2>
	<%=@result["drinks"][0]["strInstructions"]%>

	
</div>
	








	
	
