<!DOCTYPE html>
<html>
  <head>
    <title>Soberrated</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->




    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>



  	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Soberrated</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        
            <li><%=link_to 'Surprise me', random_path%></li>
            <li><%=link_to 'What do you like to drink?', mix_path%></li>
          
          </ul>
        </li>
    </ul>


     


     <%=form_tag({:action => 'search',}, {:class =>  'navbar-form navbar-left'}) do%>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="s">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
     <%end%>
      
       
      </ul> -->
    </div>
  </div>
</nav>
  		
  
  
    <%= yield %>
  </body>
</html>



<!--  -->